

body{
    background-color: #f8f8ff;
    color: #222;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header{
    background: #f8f8ff url(../Assets/Hero-bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 144px 20px;
    position: relative;
}
.logo{
    font-size: 30px;
    color: #333;
}
.logo span{
    color: #6a5dfc;
}
.btn-signup{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
}
.signup{
    position: absolute;
    top: 20px;
    right: 20px
}