
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #f8f8ff;
    color: #222;
}
.logo-container{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header{
    background: #f8f8ff url(../Assets/Hero-bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 144px 20px;
    position: relative;
}
.logo{
    font-size: 30px;
    color: #333;
}
.logo span{
    color: #6a5dfc;
}
.btn-signup{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
}
.signup{
    position: absolute;
    top: 20px;
    right: 20px
}
.greeting-font{
    font-size: 50px;
    font-weight: 600px;
}
.banner-greeting{
    font-size: 42px;
    font-weight: 85px;
    color: #252432;
}
.banner-description{
    font-size: 24px;
}
.banner{
    display: flex;
    justify-content: space-around;
    margin: 0 159px 0 141px;
    margin-top: 64px;
}
.banner-content{
    max-width: 600;
    flex-direction: row;
    gap: 23px;
}
.image {
    width: 403px 328px;
    border-radius: 48px;
}
.picci-img{
    width: 40px 40px;
    border-radius: 33px;
    margin-right: 20px;
    padding-top: 24px;
}
.about{
    border-radius: 10px;
    background-color: rgb(241, 243, 245);
    padding: 80px 50px;
    text-align: center;
    margin-top: 130px;
    color: #140606;

}
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    background-color: rgb(241, 243, 245);
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
}
.section-title{
    font-size: 45px;
    color: #252432;
    margin-bottom: 40px;
}
.about-item h2{
    color: #4E47FF;
    font-size: 80px;
}
.user-report{
    font-size: 42px;
    text-align: center;
}
.container{
    border-radius: 10px;
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgb(241, 243, 245);
    padding: 8px 5px;
    text-align: center;
    margin-top: 13px;
    color: #140606;
}
.card {
    padding: 30px;
    border-radius: 6px;
    gap: 5px;
}
.focus-section{
    text-align: center;
    padding: 33px;
    
}
.ready{
    font-size: 50px;
    margin-bottom: 4px;
    margin-top: 44px;
}
.image-c{
    border-radius: 48px;
}
.testimonials{
    text-align: center;
    padding: 50px;
}
.contact{
    margin-top: 64px;
    border-radius: 10px;
    display: flex;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 71px;
    background-color: rgb(241, 243, 245);
    padding: 8px 5px;
    margin-top: 139px;
}
.let{
    font-size: 50px;
    color: #000000;
    margin-right: 171px;
    padding: 130px 0px;
}
.contact-form[type="text"],contact-form[type="email"],.contact textarea{
    height: 64px;
    border-radius: 5px;
    background-color: #f8f8ff;
    display: block;
    width: 100%;
    padding: 18px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
}
.btn-submit{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    border-right: 50px;
    padding: 18px 35px
}
.footer span{
    color: #4E47FF;
}
.footer{
    text-align: center;
    padding: 30px;
    background-color: rgb(227, 237, 237);
    font-weight: bold;
}
.footer-btm{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
    margin-top: 10px;
}
nav ul li {
    list-style: none;
    margin-right: 48px;

}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #8987A1;
}
nav ul {
    display: flex;
}